@import "https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap";

@import "react-toastify/dist/ReactToastify.css";
@import "@radix-ui/themes/styles.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-family: "Plus Jakarta Sans", sans-serif;

  /* Colors */
  --color-background-dark: #0B0A32;
  --color-background-light: #F9FAFB;

  --color-secondaryBackground-dark: #15143D;
  --color-secondaryBackground-light: #E5E7EB;

  --color-surface-dark: #3A397C;
  --color-surface-light: #FFFFFF;

  --color-secondarySurface-dark: #25235C;
  --color-secondarySurface-light: #F0F1F3;

  --color-border-dark: #3A397C;
  --color-border-light: #BDBDBD;

  --color-text-dark: #FFFFFF;
  --color-text-light: #333333;

  --color-gray-dark: #B4B4C9;
  --color-gray-light: #6B7280;

  --color-primary-dark: #695AF0;
  --color-primary-light: #9F99FF;

  --color-secondary-dark: #E43F8C;
  --color-secondary-light: #F1729E;

  --color-focus-dark: #695AF0;
  --color-focus-light: #7B74FF;

  --color-highlight-dark: #FFB800;
  --color-highlight-light: #FFB800;
}
