node_modules
dist
.env
napi_dist
__pycache__
.ruff_cache
.OPENAIKEY
examples/csharp/EndpointExample/obj
examples/csharp/EndpointExample/bin
packages/cli/src/languagePlugins/csharp/testFiles/csharpFiles/**/obj
napi.sln
examples/csharp/EndpointExample/bin
auditResponse.json
.extracted/
napi-output/
coverage/
.vite/
